click==7.1.2
click-spinner==0.1.10
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
future==0.18.3
imageio==2.9.0
kiwisolver==1.2.0
matplotlib==3.3.0
mpmath==1.1.0
-e git+git@github.com:EthanRosenthal/nest2D.git@52285ad626c7d9f9a190f1891c60aa112cb931dc#egg=nest2d
networkx==2.4
numpy==1.19.1
pandas==1.1.0
pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pywavelets==1.1.1
scikit-image==0.17.2
scipy==1.5.2
seaborn==0.10.1
six==1.15.0
svgpath2mpl==0.2.1
sympy==1.6.1
tifffile==2020.7.24
torch==1.6.0
torchvision==0.7.0
typer==0.3.1
